
body.body {
background-color: #E3E3E3; 
}

.headerdiv {
  background-color: white;
}

.header {
  background-color: white;
  height: 75px;
}

.logo {
  font-size: 45px;
  font-family: 'Trade Winds', cursive;
  color: #A8A8A8;
  padding-top: 20px;
  padding-left: 25px;
  min-width: 220px;

}

.navbardiv, .logodiv{
  float: left;

}

ul.navbar li {
  display: inline;
  font-size: 16px;
  color: #808080;
  font-family: Andale Mono;
  padding-right: 25px 
}

ul.navbar{
  padding-top: 20px;
  padding-left: 10px;
}

ul.navbar a:hover {
  text-decoration: none;
}

.logodiv a:hover {
  text-decoration: none;
}

.mainimage {
 height: 500px;
 border: 5px solid white;
}

.about-text {
  font-family: Andale Mono; 
  font-size: 13px;
  color: #7D7D7D;
}

.bottomImages {
  height: 130px;
  overflow-x:scroll;
  padding-bottom: 30px;
}

.bottomImages img{
  height: 122px;
    float:left;
}

.about-text {
  padding-top: 35px;
  font-size: 14px;
}

.wrapper {
  width: 1800px;
  height: 130px;
    overflow: hidden;
}



.photo-categories {
  
  height: 200px;
}


.bwWrapper {
    position:relative;
}

.bottomImagesText {
  padding-top: 20px;
}

.bottomImages .wrapper img {
  margin-left: 10px;
  border: 3px solid white;
}

.photoCategoryLabel {
  position: relative;
  top: 150px;
  color: white;
  font-family: Andale Mono; 
  font-size: 20px;
 
}

a.bwWrapper:hover {
   text-decoration: none;
}

.photoCategoryFilter {
  background-color: black;
  position: relative;
  height: 200px;
  top: -200px;
  opacity: .6;
  display: none;
}

.headerdiv {
  height: 61px;
}


.bottomImages .wrapper img.border {
   border: 3px solid red;
}

div.categories .span3 {
    padding: 0 15px;
}

.top-padding {
  padding-top: 25px;
  border-top: 1px solid gray;
}

.info {
  border: 4px solid #BABABA;
  background-color:  white;
  font-family: bank Gothic;
  margin-top: 150px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 200px;
  min-height: 220px;
}

.infoP {
  font-size: 15px;
  font-family: Andale Mono;
}

.leftarrow {
  display: none;
}

.mainimagediv {
  min-width: 760px;
}


.imagecategory {
  min-width: 250px;
}

.copyright {
  font-size: 12px;
  color: #808080;
  font-family: Andale Mono;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}






