.header {
  background-color: #FFFFFF;
  height: 75px;
}

.logo {
  font-size: 40px;
  font-family: bank Gothic;
  color: #A8A8A8;
  padding-top: 26px;
}

ul.navbar li {
  display: inline;
  font-size: 13px;
  color: #808080;
  font-family: Andale Mono;
  padding-right: 25px 
}

ul.navbar{
  padding-top: 27px;
}

a:hover {
  text-decoration: none;
}

.mainimage {
 height: 500px;
}

.about-text {
  font-family: Andale Mono; 
  font-size: 13px;
  color: #7D7D7D;
}

.bottomImages {
  height: 122px;
  
  
  overflow-x:scroll;
}

.bottomImages img{
  height: 122px;
    float:left;

}

.about-text {
  padding-top: 35px;
}

.wrapper {
  width: 1800px;
    overflow: hidden;
}

.home-image {
  width: 2000px;
}

.photo-categories {
  
  height: 200px;
}


.bwWrapper {
    position:relative;
}









