<div class="row-fluid">
    
      <div class="span1">
       <!--spacer!-->
      </div>
      
      <div class="span2">
        <img src="./static/images/logo one.png">
      </div>
      
      <div class="span8 about-text">
        <p>My name is Chris Austin and I live in Los Altos California. I have been interested in photography for a few years now. Both of my parents are armature photographers and my dad is a painter, so I grew up around cameras and art. Last year my work was featured at SFAI along with my classmate’s work in their digital photography program. I shoot most of my photos with my dad’s Cannon EOS 7D, but am planning to get my own DSLR sometime in the future. This website will continue to grow as my work increases.</p>
      </div>
      
      <div class="span1">
       <!--spacer!-->
      </div>
   
   <div>