<div class="row-fluid top-padding">
    
      <div class="span1">
       <!--spacer!-->
      </div>
      
      <div class="span2">
        <img src="./static/images/logo 1 remix 1.png">
      </div>
      
      <div class="span8 about-text">
        <p>My name is Chris Austin. I live in Los Altos, California. I have been interested in photography for a few years now. Both my parents are amateur photographers and my dad is a painter. I grew up around cameras and art. Last year my work was featured at SFAI along with my classmate’s work in their Digital Photography Program. I shoot most of my photos with a Cannon EOS 7D. This website will continue to grow as my work increases.</p>
      </div>
      
      <div class="span1">
       <!--spacer!-->
      </div>
   
   </div>

   <script src="{{ url_for('static', filename='disable-right-click.js') }}"></script>


