<form enctype="multipart/form-data"  action="/uploadphoto" method="POST">

   Chose your file: <input type="file" name='photoFile'>
    
    <p>Title: <input type="text" name="title">
    <p>Place: <input type="text" name="place"></p>
    <p>Year: <input type="text" name="year"></p>
    
     Category: <select name="category">
      <option>action</option>
      <option>nature</option>
      <option>lifestyle</option>
      <option>sports</option>
</select>
    

    
     <input class="submitb" type="submit">
    
    
</form>


