<form enctype="multipart/form-data"  action="/uploadphoto" method="POST">

   <p class="chosefile">Chose your file: <input type="file" name='photoFile'></p>
    
    <p class="newphotoimput">Title: <input type="text" name="title">
    <p class="newphotoimput">Place: <input type="text" name="place"></p>
    <p class="newphotoimput">Year: <input type="text" name="year"></p>
    
     <p class="newphotoimput">Category: <select name="category"></p>
      <option>action</option>
      <option>nature</option>
      <option>lifestyle</option>
      <option>sports</option>
</select>
    

    
     <input class="submitb" type="submit">
    
    
</form>


