

<a class="bwWrapper" href="/photos/action">
	<img class="photo-categories" src="./static/images/Photos/action.jpg">
</a>


<a class="bwWrapper" href="/photos/nature">
	<img class="photo-categories" src="./static/images/Photos/nature.jpg">
</a>

<a class="bwWrapper" href="/photos/lifestyle">
	<img class="photo-categories" src="./static/images/Photos/lifestyle.jpg">
</a>

<a class="bwWrapper" href="/photos/sports">
	<img class="photo-categories" src="./static/images/Photos/sports.jpg">
</a>




<script src="{{ url_for('static', filename='jquery.BlackAndWhite.js') }}"></script>
<script src="{{ url_for('static', filename='photo-category.js') }}"></script>