<div class="row-fluid top-padding">
    
      <div class="span2">
       <!--spacer!-->
      </div>

      <div class="span8 text-center">
       <img class="mainimage" src="../static/images/Photos/{{ photos[0].path }}" />
      </div>

      <div class="span2">
        <div class="info text-center">  
         
          <h2 class="fadeText" id="title">{{photos[0].title}}</h2>
         <p class="infoP fadeText" id="place">{{photos[0].place}}</p>
         <p class="infoP fadeText" id="year">{{photos[0].year}}</p>
         <img class="rightarrow" src="/static/images/rightarrow.png">
          <img class="leftarrow" src="/static/images/leftarrow.png">

        </div>
      </div>
  
  </div> <!--row-fluid-->
  
  <div class="bottomImagesText">
  </div>
  
  <div class="bottomImages">
     <div class="wrapper">
      
        {% for photo in photos %}
     
          <img src="../static/images/Photos/{{ photo.path }}"/>
       
        {% endfor %}

      </div>
      
  </div> 

  <!--bottomImages-->
 <script>
        var all_photos = {{ photosJSON|tojson }};
  </script>
 

  <script src="{{ url_for('static', filename='image-replacement.js') }}"></script>
   <script src="{{ url_for('static', filename='info-box.js') }}"></script>

