<div class="row-fluid">
    
      <div class="span2">
       <!--spacer!-->
      </div>

      <div class="span8 text-center">
       <img class="mainimage" src=" {{ photos[0] }} " />
      </div>

      <div class="span2">
       <!--spacer!-->
      </div>
  
  </div> <!--row-fluid-->
  
  
  <div class="bottomImages">
     <div class="wrapper">
      
        {% for photo in photos %}
     
          <img src="{{ photo }}" />
       
        {% endfor %}

      </div>
      
  </div> <!--bottomImages-->

  <script src="{{ url_for('static', filename='image-replacement.js') }}"></script>
