



<div class="row-fluid categories">
    
    <div class="span3 text-center">
    	<a class="bwWrapper" href="/photos/action">

			<img class="photo-categories" src="./static/images/Photos/action.jpg">
			<div class="photoCategoryFilter">
				<p class="photoCategoryLabel">action</p>
			</div>
			
        </a>
    </div>

    <div class="span3 text-center">
    	<a class="bwWrapper" href="/photos/nature">
			<img class="photo-categories" src="./static/images/Photos/nature.jpg">
			<div class="photoCategoryFilter">
				<p class="photoCategoryLabel">nature</p>
			</div>
		</a>
    </div>

    <div class="span3 text-center">
    	<a class="bwWrapper" href="/photos/lifestyle">
			<img class="photo-categories" src="./static/images/Photos/lifestyle.jpg">
			<div class="photoCategoryFilter">
				<p class="photoCategoryLabel">lifestyle</p>
			</div>
		</a>
    </div>

    <div class="span3 text-center">
    	<a class="bwWrapper" href="/photos/sports">
			<img class="photo-categories" src="./static/images/Photos/sports.jpg">
			<div class="photoCategoryFilter">
				<p class="photoCategoryLabel">sports </p>
			</div>
		</a>
    </div>


</div>




<!--<script src="{{ url_for('static', filename='jquery.BlackAndWhite.js') }}"></script> 
<script src="{{ url_for('static', filename='photo-category.js') }}"></script>

-->

<script src="{{ url_for('static', filename='photo-category-grey-filter.js') }}"></script>


